@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="container col-lg-12 mt-5">
        <form method="post">
            <div class="btn-group-sm" role="group" aria-label="Basic example">
                <button class="btn" type="submit" asp-action="DeleteUser" asp-controller="Account">
                    <img src="https://img.icons8.com/ios/30/000000/delete-forever--v2.png">
                </button>
                <button class="btn" type="submit" asp-action="BlockUser" asp-controller="Account">
                    <img src="https://img.icons8.com/ios-filled/30/AD403D/cancel-2.png"/>
                </button>
                <button class="btn" type="submit" asp-action="UnBlockUser" asp-controller="Account">
                    <img src="https://img.icons8.com/material-outlined/30/2BAD59/unlock.png"/>
                </button>
            </div>
            <table class="table bg-secondary shadow p-3 mb-5 bg-white rounded m-2" id="myTable">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        <input type="checkbox" id="checkAll"/>
                    </th>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Registration Date</th>
                    <th scope="col">Last Login Date</th>
                    <th scope="col">State</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var user in ViewBag.AllProfiles)
                {
                    @if (user.LockoutEnd > DateTime.Now)
                    {
                        <tr class="table-danger">
                            <td>
                                <input type="checkbox" name="selectedUsersId"
                                       id="@user.Id" value="@user.Id"
                                       class="chk">
                            </td>
                            <td>@user.Id</td>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>@user.RegistrationDate</td>
                            <td>@user.LastLoginDate</td>
                            <td>Blocked</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="selectedUsersId"
                                       id="@user.Id" value="@user.Id"
                                       class="chk">
                            </td>
                            <td>@user.Id</td>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>@user.RegistrationDate</td>
                            <td>@user.LastLoginDate</td>
                            <td></td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </form >
    </div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
        $('#checkAll').change(function(){
           $('.chk').prop('checked',this.checked);
        });
        
        $(".chk").change(function () {
            if ($(".chk:checked").length === $(".chk").length) {
             $('#checkAll').prop('checked','checked');
            }else{
              $('#checkAll').prop('checked',false);  
            }
            });
    </script>