@model ItransitionCourseProject.ViewModels.CollectionViewModel

<div>
    @ViewBag.Collection.User.UserName
    <h1>@ViewBag.Collection.Title</h1>
    <h2>@ViewBag.Collection.Description</h2>
    <img src="@ViewBag.Collection.Image" alt="">
    @foreach (var tag in ViewBag.Collection.Tags)
    {
        <h5>@tag.TagName</h5>
    }
</div>


<form class="form-group" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="LikeViewModel.UserId" value="@User.Claims.ElementAt(0).Value"/>
    <input type="hidden" asp-for="LikeViewModel.CollectionId" value="@ViewBag.Collection.Id"/>
    <div>
        @{
            List<Like> likes = ViewBag.Collection.Likes;
            if (likes.Any(i => i.User.Id == User.Claims.ElementAt(0).Value))
            {
                <button type="submit" class="btn btn-primary" asp-action="CollectionUnLike" asp-controller="Collection">Unlike</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" asp-action="CollectionLike" asp-controller="Collection">Like</button>
            }
        }
    </div>
</form>


<form class="form-group" method="post" asp-controller="Collection" asp-action="CreateComment">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="CommentViewModel.UserId" value="@User.Claims.ElementAt(0).Value"/>
    <input type="hidden" asp-for="CommentViewModel.CollectionId" value="@ViewBag.Collection.Id"/>
    <div class="form-group">
        <label asp-for="CommentViewModel.Text"></label>
        <input class="form-control" asp-for="CommentViewModel.Text" placeholder="Enter Text">
        <span asp-validation-for="CommentViewModel.Text"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>


@foreach (var comment in ViewBag.Collection.Comments)
{
    <br>
    @comment.User.UserName
    <br>
    @comment.Text
}