@{
    ViewData["Title"] = "Search result";
}

<div id="searchResult" class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <div><a class="text-dark" asp-action="Index" asp-controller="Home">Back</a></div>
        </div>
    </div>
    <div class="row shadow bg-white rounded justify-content-center pt-4 pb-3 pl-2 pr-2">
        <div class="col-lg-12 mb-3 ml-4 text-center">
            <p class="h3">@ViewBag.Collections.Count results were found for the "@Model.Query" query</p>
        </div>
        @foreach (var collection in ViewBag.Collections)
        {
            <div class="card bg-secondary  bg-white rounded mr-4 mb-4" style="width: 18rem;">
                <a href="@collection.Image" data-toggle="lightbox" data-title="@collection.Title">
                    <img src="@collection.Image" class="card-img-top shadow-sm bg-white rounded image-popup-no-margins img-card" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@collection.Title
                        <span class="badge badge-info ml-2">@collection.CollectionTheme.Theme</span></h5>
                    <p class="card-text cropped-text">@collection.Description</p>
                    <a asp-action="Collection" asp-controller="Collection" asp-route-id="@collection.Id" class="btn btn-primary">Watch Collection</a>
                </div>
            </div>
        }
    </div>
</div>

<script>
$(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
});
</script>